<section class="sobre">
    <div class="row m-0">
        <div class="sobre-img col-sm-5 col-12 height-100 pl-0">
            <img src="assets/casa huerta.png" alt="" style="object-fit: contain;">
        </div>
        <div class="col-sm-6 col-12 pos-unset">
            <h1 class="h1-ab">SOBRE EL JUEGO</h1>
            <p>Campamento impacto es nuestra primera incursión en el mundo de los videojuegos, de la mano con
                Frigorizados la Huerta y como parte del proyecto "Proyecto solidario" estamos trabajando en un juego
                donde el
                usuario tendrá la oportunidad de administrar y construir su propio campamento de boyscouts y tendrá
                acceso a diversos mini juegos relacionados con la temática.</p>
            <p>Con este juego tenemos por objetivo concientizar de manera divertida a los usuarios sobre pequeñas
                acciones y conocimientos básicos que ellos pueden aplicar en su día a día con miras a mejorar nuestra
                sociedad. </p>
        </div>
    </div>
</section>

<section class="solidario">

    <h2>Proyecto solidario</h2>
    <p>
        Intervenir con sentido de responsabilidad y compromiso en la atención de
        necesidades tanto individuales como colectivas para el mejoramiento de
        las condiciones de vida.
    </p>
    <img src="../../assets/logoLaHuerta.png" alt="">
</section>



<section class="elaboradores mb-0">
    <div class="row width-100 justify-content-center align-items-center mb-4">
        <div class="col-sm-3 col-6">
            <h3>Paola Gutierrez</h3>
            <p>Desarrolladora <br>
                <!-- <a href="" class="mr-3"><i class="fab fa-facebook-square"></i></a> <a href=""><i
                        class="fas fa-envelope"></i></a>
            </p>
            <p></p> -->

        </div>

        <div class="col-sm-3 col-6">
            <img class="width-100" src="../../assets/mujer.png" alt="">
        </div>
    </div>

    <div class="row width-100 justify-content-center align-items-center mt-4">
        <div class="col-sm-3 col-6">
            <img class="hmbr width-100" src="../../assets/hombre.png" alt="">
        </div>

        <div class="col-sm-3 col-6">
            <h3>Luis Enrique Gutierrez</h3>
            <p>Desarrollador <br>
                <!-- <a href="" class="mr-3"><i class="fab fa-facebook-square"></i></a> <a href=""><i
                        class="fas fa-envelope"></i></a>
            </p>
            <p></p> -->

        </div>


    </div>


    <div class="row width-100 justify-content-center align-items-center mb-4 mt-4">
        <div class="col-sm-3 col-6">
            <h3>Anise Galennt</h3>
            <p>Diseñadora <br>
                <!-- <a href="" class="mr-3"><i class="fab fa-facebook-square"></i></a> <a href=""><i
                        class="fas fa-envelope"></i></a>
            </p>
            <p></p> -->

        </div>

        <div class="col-sm-3 col-6">
            <img class="width-100" src="../../assets/mujer.png" alt="">
        </div>
    </div>
</section>